@media (max-width: 720px) {
  .volume-control:hover .volume-slider-container {
    width: 70px;
  }

  .title {
    font-size: 14px;
  }

  .time-left,
  .time-right {
    display: none;
  }

  .controls {
    padding-bottom: 12px;
  }

  .player {
    width: 100%;
    height: 100%;
  }
}
